<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First Flask App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 </head>
 <!--<script>function myFunction() {
		var text1= $('#blockstack_id').val();
		var text2= $('#').val();
		  $.ajax({
              url: "/join",
              type: "POST",
              data: {text1:text1,
              text2:text2}          
          }).done(function(response) {
                 	var html= "<br><br><br><p> <b> RESULT : <b><p>";
                 	 response =response.result;
                 $.each(response,function(key,val){
                 console.log(val);
                    html+="<p>"+val+"<p>"                });
                html +="<br>";
                document.write(html)
            });
};  </script> -->

<body>
    {% for listing in ids %}
    <p> {{ listing['blockstack_id'] }} </p>
    {% endfor %}

</body>
</html>